doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title BlackBird Co.
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/index.css")
    link(rel="icon", type="image/png", href="images/favicon.png")

body

  header.bird-box
    .back-bird
    .logo
    .fore-bird


  section.content

    article

      h1 Anna'a Amazing Antiques

      hr

      p
        |I ,Karanbir Singh Chahal am making a website for my sister. I intend it to be a fashion blog which will also showcase all her latest designs.The website will be made using the MEAN stack using sass and jade as html/css counterparts. I will also introduce a mechanism for caching using redis and a machine learning component for detecting what the user wants to see? I will update this as I go on:)
      hr

      .clothes-pics

          .row.img-row
            figure.columns.four
              img(src="images/model1.jpg")
              figcaption BlackBird Sweater - <strong>$135</strong>
            
            figure.columns.four
              img(src="images/model2.jpg")
              figcaption BlackBird Trousers - <strong>$135</strong>
              
            figure.columns.four
              img(src="images/model3.jpg")
              figcaption BlackBird Jacket - <strong>$135</strong>
              
          .row.img-row
            figure.columns.four
              img(src="images/model2.jpg")
              figcaption BlackBird Trousers - <strong>$135</strong>
              
            figure.columns.four
              img(src="images/model3.jpg")
              figcaption BlackBird Jacket - <strong>$135</strong>
              
            figure.columns.four
              img(src="images/model1.jpg")
              figcaption BlackBird Sweater - <strong>$135</strong>
          
          .row.img-row
            figure.columns.four
              img(src="images/model3.jpg")
              figcaption BlackBird Jacket - <strong>$135</strong>
            
            figure.columns.four
              img(src="images/model1.jpg")
              figcaption BlackBird Sweater - <strong>$135</strong>
            
            figure.columns.four
              img(src="images/model2.jpg")
              figcaption BlackBird Trousers - <strong>$135</strong>
      
      h1 Clothing Store
      
      hr
      p
        |I will also introduce a mechanism for caching using redis and a machine learning component for detecting what the user wants to see? I will update this as I go on:)
      hr 
      
      .large-window 
        .window-tint
          .promo-text Fall Suits
            strong from $99       
    
    div(style="height:2000px")

  script(src="js/jquery.js")
  script(src="js/function.js")
